@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.lists {
  ul {
    list-style: none;
    span{
      display: inline-block;
    }
    .total{
      margin-left: 10px;
      color: #971919;
    }
  }
}