@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.lists {
  .header_list{
    font-weight: 600;
  }
  .list_row{
    border-bottom: 1px #afafaf solid;
    padding: 5px 0;
  }
}